body {
    margin: 0;
}

.border {
    position: absolute;
    width: 100%;
    left: 0;
    top: 182px;
    border: 2px solid #7B4628;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.authorization-text {
    width: 830px;
    text-align: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 58px;
}

h1 {
    word-wrap: break-word;
}

/* регистрация */
.authorization-form {
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.login-label, .password-label {
    width: 100%;
    color: black;
    font-size: 32px;
    word-wrap: break-word;
    margin-left:150px;
}

.login-field, .password-field {
    width: 100%;
    height: 60px;
    background: #D9D9D9;
    border-radius: 30px;
}

.password-field{
    margin-bottom: 30px;
}

.botem {
    width: 100%;
    height: 130px;
    background: #1DB7AE;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; /* добавлено для центрирования текста */
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.botem:hover{
    opacity: 0.7;
}

.botem:active{
    opacity: 0.5;
}

@media (max-width: 768px) {
    .authorization-form {
        align-items: flex-start;
        text-align: left;
    }

    .authorization-text {
        text-align: left;
        font-size: 2em;
      }
}