<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sofia+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/findclass.css' %}">
    <title>Find-class</title>
</head>
<body>
    <header>
        <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">
        <div class="border"></div>
    </header>
    <h1 class="textdec">НАЙДИТЕ СВОЙ КЛАСС!</h1>
    <form action="{% url 'class' %}" class="forms" id="searchForm" method="POST">
        {% csrf_token %}
        <input class="name-class" type="text" id="name" name="name" placeholder="Название вашего класса">
        <button class="buton" type="submit">НАЙТИ</button>
    </form>
    <div>
    </div>
</body>