<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://www.dafontfree.net/embed/Y3Jld25pdmVyc2UtbWVkaXVtJmRhdGEvNjUvYy8xNjAyNTgvY3Jld25pdmVyc2VfZm9udC5vdGY" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Potta+One&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Home-Page</title>
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                    <img class="logo" src="{% static 'img/smartBear.svg' %}" alt="logo">
                <div class="nav-line">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Учителя</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Школы</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Ресурсы</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Войти</a>
                        </li> 
                        <li class="nav-ite">
                            <a href="{% url 'register' %}" class="btn-text">Зарегистрироваться</a>
                        </li>                    
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="border"></div>
    </div>
<section>
    <h1>ПОДЕЛИСЬ СВОИМИ ДОСТИЖЕНИЯМИ СО ВСЕМ МИРОМ</h1>
    <h2>Будьте готовы к тому, чтобы стать лучшими <br> в своей области с помощью <br> "Умного Мишки"!</h2>
    <text>НАЧАТЬ КАК...</text>
</section>
    <form method="POST">
        {% csrf_token %}
        {% for group in groups %}
            {% if group.name == 'Teacher' %}
            <div class="teacher">
                <input type="submit" value="{{ group.id }}" name="group" id="group" class="teacher-link">
            </div>
            {% endif %}
            {% if group.name == 'Parent' %}
            <div class="parent">
                <input type="submit" src="{% static 'img/parent.svg' %}" value="{{ group.id }}" name="group" id="group" class="parent-link">
            </div>
            {% endif %}
            {% if group.name == 'Student' %}
            <div class="student">
                <input type="submit" src="{% static 'img/student.svg' %}" value="{{ group.id }}" name="group" id="group" class="student-link">
            </div>
            {% endif %}
        {% endfor %}
    </form>
</body>
</html>