<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sofia+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/secutty.css' %}">
    <title>Профиль</title>
</head>
<body>
    <div class="fulMenu">

        <div class="window"> <!-- Всё окно целиком-->
            <div class="menu"> <!-- Меню сверху. Тут заголовок "Настройки уч записи" и крестик-->
                <h2 class="menu-title">
                    НАСТРОЙКИ УЧЁТНОЙ ЗАПИСИ
                </h2>
                <button class="close-form">
                    <a href="{% url 'home' pk=pk %}">
                        <img src="{% static 'img/krest.svg' %}" alt="Крестик">
                    </a>
                </button>
            </div> 
    
            <div class="border"></div> 
    
            <div class="bloc">
            <div class="Menu1"> <!-- Контейнер для разделов слева (Профиль, Безопасность)-->
                <button class="profile" type="button" > 
                    <h2 class="profname">
                    <a href="{% url 'settings' %}" style="text-decoration: none; color: #696969 !important;">
                        ПРОФИЛЬ
                    </a>
                </h2>
                </button>
                <button class="security" type="button"> 
                    <h2 class="profname2">
                    <a href="{% url 'security' %}" style="text-decoration: none; color: #696969 !important;">
                        БЕЗОПАСНОСТЬ
                    </a>
                </h2>
                </button>
            </div>
        <div class="main"> <!-- Основная часть окна с изменением данных -->
            <form action="{% url 'security' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputs">
                <div class="input-name">
                    <label for="login"><b>ЛОГИН</b></label>
                    <input type="text" id="username" name="username" class="login-input"  placeholder="Логин пользователя">
                </div>
                <div class="input-email">
                    <label for="Email"><b>ЭЛЕКТРОННАЯ ПОЧТА</b></label>
                    <input type="email" id="email" name="email" class="email-input"  placeholder="Mail пользователя">
                </div>
                <div class="input-email2">
                    <label for="Email"><b>ПАРОЛЬ</b></label>
                    <input type="password" id="password1" name="password1" class="password-input"  placeholder="Пароль">
                    <button class="changePassword"><b>СМЕНИТЬ ПАРОЛЬ</b></button>
                </div>
                <div class="border border2"></div>
                <div class="buttons-snizu">  <!-- Кнопки внизу формы -->
                    <div class="border-snizu"></div>
                    <button class="otmena" type="button">Отменить</button>
                    <input class="save" type="submit" value="Сохранить">
                </div>
            </div>
            </form>
        </div>
        
    </div>
</body>
{#<script src="/js/knopki.js"></script>#}
</html>