<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sofia+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/teache.css' %}">
    <title>School-Page</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                    <img class="logo" src="{% static 'img/smartBear.svg' %}" alt="logo">
                <div class="nav-line">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Учителя</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Школы</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Ресурсы</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Войти</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="border"></div>
    </div>
    <!-- Пригласительный блок для школы -->
    <div class="invite-school">
        <div class="invite-school-btn">
            <h1 class="texttt">Самый простой способ подключить ваш класс!</h1>
            <a href="{% url 'register' %}" class="btn-text-invite-school">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>