<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Sofia+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/projectpages.css' %}">
    <title>Project page</title>
</head>
<body>
    
    <div class="header">
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <img src="{% static 'img/logo.svg' %}" alt="logo">
                    <img class="logo" src="{% static 'img/smartBear.svg' %}" alt="logo">
                <div class="nav-line">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'home' pk=pk %}" class="nav-link">Мой класс</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'settings' %}" class="nav-link">Мой профиль</a>
                        </li>                    
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="border"></div>
    </div>

    <div class="post-container">
        <div class="user-info">
          <img src="{{ project.owner.image.url }}" alt="User Avatar" class="usavat">
          <h3 class="name">{{ project.owner.name }}</h3>
          <p class="data">{{ project.created.date }}</p>
        </div>
        <div class="post-content">
          <p>{{ project.description }}</p>
        </div>
        <div>
            <img class="kartinka" src="{{ project.image.url }}" alt="Картинка поста">
          </div>
          <div class="border2"></div>
        <div class="post-actions">
            <button class="like-button" id="post-like-btn" onclick="likePost()">
                <img src="{% static 'img/serdseauto.svg' %}" alt="like-picture" class="like-img" id="like-img">
                <span class="like-text">Нравится</span>
                <span class="like-count" id="post-like-count">0</span>
                </button>
          <button class="comment-btn">
                  <a href="{% url 'comments' %}">
                      <img src="{% static 'img/Union.svg' %}" alt="comm-picture"> Комментарий
                  </a>
          </button>
        </div>
      </div>
      <script>
        let postLiked = false;
        let postLikeCount = 0;

        function likePost() {
        if (!postLiked) {
        postLikeCount++;
        document.getElementById("post-like-count").innerHTML = postLikeCount;
        document.getElementById("post-like-btn").classList.add("liked");
        document.getElementById("like-img").src = "{% static 'img/serdseauto1.png' %}"; // меняем фотографию на заполненное сердце
        postLiked = true;
        } else {
        postLikeCount--;
        document.getElementById("post-like-count").innerHTML = postLikeCount;
        document.getElementById("post-like-btn").classList.remove("liked");
        document.getElementById("like-img").src = "{% static 'img/serdseauto.svg' %}"; // меняем фотографию на пустое сердце
        postLiked = false;
        }
        }
    </script>
</body>
</html>