h2{
    width: 200px;
    margin-left: 900px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 40px;
    margin-bottom: 200px;
}

h3{
    position: absolute;
    margin-left: 150px;
    margin-top: -100px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif; 
    color: rgba(0, 0, 0, 0.59);
}

.avatar-self{
    border-radius: 360px;
    border: 7px #D9D9D9 solid;
    position: relative;
    margin-top: 0; 
    }

.user-info{
    display: flex;
}


span{
    margin-left: auto;
    margin-top: -100px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    opacity: 0.3;
}

.comment-text{
    margin-left: 150px;
    margin-top: -50px;
    width: 900px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    color: #696969;
}

.inputCommentaryField{
    position: relative;
    top: 20px;
}

.com{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 24px;
    width: 600px;
    height: 80px;
    border-radius: 30px;
    margin-top: 0; 
    margin-left: 10px;
    }

.comment-content{
    height: 100%;
}

.comment{
    margin-bottom: 50px;
}



button{
    position: absolute;
    margin-top: 55px;
    margin-left: 10px;
}

.help{
    position: relative;
    display: inline-block; 
    top: -50px; 
}

@media (max-width: 758px){
    
    button{
        position: absolute;
        margin-left: 310px;
        margin-top: 40px;
    }

    h3{
        position: absolute;
        margin-left: 150px;
        margin-top: -100px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif; 
        color: rgba(0, 0, 0, 0.59);
    }

    
    .avatar-self{
        border-radius: 360px;
        border: 7px #D9D9D9 solid;
        position: relative;
        margin-top: 0;
        width: 120px;
        height: 120px; 
        }

    .user-info{
        display: flex;
    }
    
    span{
        margin-left: auto;
        margin-top: -100px;
        font-size: 10px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif;
        opacity: 0.3;
    }
    
    .comment-text{
        margin-left: 150px;
        margin-top: -50px;
        width: 400px;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif;
        color: #696969
    }

    .comment-content{
        height: 100%;
    }
    
    .inputCommentaryField{
        position: relative;
        top: 20px;
    }
    
    .com{
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif;
        font-size: 24px;
        width: 300px;
        height: 80px;
        border-radius: 30px;
        margin-top: 0; 
        margin-left: 10px;
        }
    
    .comment-content{
        height: 100%;
    }
    
    .comment{
        margin-bottom: 50px;
    }
    
    
    
    button{
        position: absolute;
        margin-left: 0px;
        margin-top: 50px;
    }

    
    .help{
        position: relative;
        display: inline-block; 
        top: -50px; 
    }
}