

.header-logo {
    display: flex;
    width: 122px;
    height: 122px;
    left: 120px;
    top: 30px;
    background: #FFFFFF;  
    margin-left:120px;  
}
.logo{
    width: 263px;
    height: 37px;
    margin-top: 43px;
    margin-left: 20px;
    margin-right: 445px;
}

.nav-list{
    display: flex;
     flex-wrap: wrap;
     margin-right: 40px;
     list-style: none;
     max-width: 990px;
     position: absolute;
    list-style-type: none;
    margin-top: 55px;
    margin-right: 20px;
   }

  .nav-link {
    text-decoration: none;
    font-size: 20px;  
    color: #000000;
}
li {
    display: inline;
    padding: 0 30px;
    margin-right: 20px;
}

.nav-ite{
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 263px;
    height: 49px;
    background: #1DB7AE;
    border-radius: 30px;
    margin-top: -10px;
}

.btn-text {
    padding: 11px;
    text-align: center;
    top: 3px;
    font-family: 'crewniverse-medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list{
    margin-right: auto;
}

.border {
    position: absolute;
    width: 100%;
    left: 0;
    top: 162px;
    border: 2px solid #7B4628;
}


h1 {
    position: absolute;
    width: 782px;
    height: 230px;
    left: 569px;
    top: 228px;
    font-family: 'crewniverse-medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 61.6596px;
    line-height: 67px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

h2 {
    position: absolute;
    width: 870px;
    height: 129px;
    left: 655px;
    top: 528px;

    font-family: 'crewniverse-medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    mix-blend-mode: normal;
}

text {
    position: absolute;
    width: 264px;
    height: 39px;
    left: 878px;
    top: 702px;

    font-family: 'crewniverse-medium', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.teacher {
    position: absolute;
    width: 263px;
    height: 263px;
    left: 534px;
    top: 771px;
}

.parent {
    position: absolute;
    width: 263px;
    height: 263px;
    left: 817px;
    top: 771px;

    background: #FFFFFF;
}

.student {
    position: absolute;
    width: 263px;
    height: 263px;
    left: 1100px;
    top: 771px;

    background: #FFFFFF;
}

@media (max-width: 1600px){
    .header-logo {
        display: flex;
        width: 122px;
        height: 122px;
        background: #FFFFFF;  
        margin-left:0;  
    }
    .logo{
        width: 263px;
        height: 37px;
        margin-top: 43px;
        margin-left: 0;
    }
    
    .nav-list{
        display: flex;
        flex-wrap: wrap;
        margin-right: 40px;
        list-style: none;
        list-style-type: none;
        margin-top: 55px;
        margin-right: 20px;
       }
    
      .nav-link {
        text-decoration: none;
        font-size: 20px;  
        color: #000000;
    }
    li {
        padding: 0 30px;
        margin-right: 20px;
    }
    
    .nav-ite{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 263px;
        height: 49px;
        background: #1DB7AE;
        border-radius: 30px;
        margin-top: -10px;
    }
    
    .btn-text {
        padding: 11px;
        text-align: center;
        top: 3px;
        font-family: 'crewniverse-medium', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
    }
    

    
    .border {
        position: absolute;
        width: 100%;
        left: 0;
        top: 122px;
        border: 2px solid #7B4628;
    }
    
    
    
    h1 {
        width: 240px;
        height: 10px;
        left: 600px;
        top: 290px;
        font-size: 28px;
        line-height: 50px;
        display: flex;
        align-items: flex-end;
    
        color: #000000;
    }
    
    h2 {
        position: absolute;
        width: 345px;
        height: 129px;
        left: 560px;
        top: 350px;
        font-size: 28px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    
        mix-blend-mode: normal;
    }
    
    text {
        position: absolute;
        width: 264px;
        height: 39px;
        left: 670px;
        top: 550px;
        font-weight: 1000;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    }
    
    .teacher {
        position: absolute;
        width: 163px;
        height: 163px;
        left: 300px;
        top: 630px;
    }
    
    .parent {
        position: absolute;
        width: 163px;
        height: 163px;
        left: 600px;
        top: 630px
    }
    
    .student {
        position: absolute;
        width: 163px;
        height: 163px;
        left: 900px;
        top: 630px
    }

    .header-logo {
        width: 122px;
        height: 110px;
        margin-left: 80px; /* изменяем отступ слева */
      }
      .logo {
        width: 250px;
        height: 37px;
        margin-left: 0; /* уменьшаем ширину логотипа */
        height: auto; /* автоматически высчитываем высоту */
        margin-top: 5px; /* уменьшаем отступ сверху */
        margin-right: 0; /* убираем отступ справа */
      }
      .nav-list {
        position: absolute; /* убираем абсолютное позиционирование */
        margin-top: 50px; /* уменьшаем отступ сверху */
        margin-right: 0; /* убираем отступ справа */
        width: 100%; /* занимаем всю ширину экрана */
      }
      li {
        display: block; /* меняем на блочное отображение */
        margin: 10px 0; /* добавляем отступы сверху и снизу */
        padding: 0px 40px; /* убираем внутренние отступы */
        text-align: left; /* выравниваем по центру */
      } 
      .header-line{
        display: block;
      }

}


@media (max-width: 768px) {   

    .header-logo {
        display: flex;
        width: 122px;
        height: 122px;
        background: #FFFFFF;  
        margin-left:0;  
    }
    .logo{
        width: 263px;
        height: 37px;
        margin-top: 43px;
        margin-left: 0;
    }
    
    .nav-list{
        display: flex;
        flex-wrap: wrap;
        margin-right: 40px;
        list-style: none;
        list-style-type: none;
        margin-top: 55px;
        margin-right: 20px;
       }
    
      .nav-link {
        text-decoration: none;
        font-size: 20px;  
        color: #000000;
    }
    li {
        padding: 0 30px;
        margin-right: 20px;
    }
    
    .nav-ite{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 263px;
        height: 49px;
        background: #1DB7AE;
        border-radius: 30px;
        margin-top: -10px;
    }
    
    .btn-text {
        padding: 11px;
        text-align: center;
        top: 3px;
        font-family: 'crewniverse-medium', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
    }
    

    
    .border {
        position: absolute;
        width: 100%;
        left: 0;
        top: 122px;
        border: 2px solid #7B4628;
    }
    
    
    
    h1 {
        position: absolute;
        width: 240px;
        height: 230px;
        left: 20px;
        top: 158px;
        font-size: 32px;
        line-height: 67px;
        display: flex;
        align-items: flex-end;
        text-align: center;
    
        color: #000000;
    }
    
    h2 {
        position: absolute;
        width: 345px;
        height: 129px;
        left: 0px;
        top: 428px;
        font-size: 32px;
        line-height: 43px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    
        mix-blend-mode: normal;
    }
    
    text {
        position: absolute;
        width: 264px;
        height: 39px;
        left: 80px;
        top: 630px;
    
        font-family: 'crewniverse-medium', sans-serif;
        font-style: normal;
        font-weight: 1000;
        font-size: 20px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #000000;
    }
    
    .teacher {
        position: absolute;
        width: 263px;
        height: 263px;
        left: 25px;
        top: 711px;
    }
    
    .parent {
        position: absolute;
        width: 263px;
        height: 263px;
        left: 26px;
        top: 1020px;
    
        background: #FFFFFF;
    }
    
    .student {
        position: absolute;
        width: 263px;
        height: 263px;
        left: 27px;
        top: 1330px;
    
        background: #FFFFFF;
    }


    .header-logo {
        width: 80px;
        height: 80px;
        margin-left: 10px; /* изменяем отступ слева */
      }
      .logo {
        width: 150px; /* уменьшаем ширину логотипа */
        height: auto; /* автоматически высчитываем высоту */
        margin-top: 20px; /* уменьшаем отступ сверху */
        margin-right: 0; /* убираем отступ справа */
      }
      .nav-list {
        position: static; /* убираем абсолютное позиционирование */
        margin-top: 10px; /* уменьшаем отступ сверху */
        margin-right: 0; /* убираем отступ справа */
        width: 100%; /* занимаем всю ширину экрана */
      }
      li {
        display: block; /* меняем на блочное отображение */
        margin: 10px 0; /* добавляем отступы сверху и снизу */
        padding: 0 5px; /* убираем внутренние отступы */
        text-align: left; /* выравниваем по центру */
      }
      .header-line{
        display: block;
      }
}