h2{
    width: 200px;
    margin-left: 900px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 40px;
    margin-bottom: 200px;
}

h3{
    position: absolute;
    margin-left: 150px;
    margin-top: -100px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif; 
    color: rgba(0, 0, 0, 0.59);
}

.avatar, .avatar-self{
    border-radius: 360px; 
    border: 7px #D9D9D9 solid;
}

.user-info{
    display: flex;
}


span{
    margin-left: auto;
    margin-top: -100px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    opacity: 0.3;
}

.comment-text{
    position: absolute;
    margin-left: 150px;
    margin-top: -50px;
    width: 900px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    color: #696969; 
    
}

.comment-content{
    height: 100%;
}

.comment{
    margin-bottom: 200px;
}

.com{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif; 
    font-size: 24px;
    width: 600px;
    height: 80px;
    margin-top: 20px;
    border-radius: 30px; 
}

button{
    position: absolute;
    margin-left: 620px;
    margin-top: 40px;
}

@media (max-width: 1600px){
    h2{
        width: 200px;
        margin-left: 650px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif; 
        font-size: 40px;
        margin-bottom: 200px;
    }
}

@media (max-width: 758px){
    h2{
        width: 200px;
        margin-left: 120px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif; 
        font-size: 40px;
        margin-bottom: 200px;
    }

    h3{
        position: absolute;
        margin-left: 150px;
        margin-top: -100px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif; 
        color: rgba(0, 0, 0, 0.59);
    }
    
    .avatar, .avatar-self{
        width: 120px;
        height: 120px;
        border-radius: 360px; 
        border: 7px #D9D9D9 solid;
    }
    
    .user-info{
        display: flex;
    }
    
    
    span{
        margin-left: auto;
        margin-top: -100px;
        font-size: 10px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif;
        opacity: 0.3;
    }
    
    .comment-text{
        position: absolute;
        margin-left: 150px;
        margin-top: -50px;
        width: 400px;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif;
        color: #696969; 
        
    }
    
    .comment-content{
        height: 100%;
    }
    
    .comment{
        margin-bottom: 200px;
    }
    
    .com{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Sofia Sans', sans-serif; 
        font-size: 24px;
        width: 300px;
        height: 80px;
        margin-top: 20px;
        border-radius: 30px; 
    }
    
    button{
        position: absolute;
        margin-left: 310px;
        margin-top: 40px;
    }
}
